.FooterBody {
  background-color: #245e2c;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.copyRight {
  font-style: normal;
  font-size: 30px;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px 0 !important;
}

.footerText {
  display: flex;
  justify-content: center;
  place-items: center;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.headerOfSocialMedia > h3 {
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

.checkBox {
  padding: 10px;
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 5px;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.logoOfFooter {
  background-image: url("/ГоловнаСторінка/46.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  /* margin-left: 50%;
  transform: translateX(-50%);
  left: 0; */
}

.logoImageFooter {
  margin-top: 120px;
  width: 300px;
  height: auto;
  z-index: 2;
  position: relative;
}

.Section11 {
  display: flex;
  flex-direction: column;
  columns: 1;
}

.PhoneNumber {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 15px;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

/*Input for email*/
.input-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 330px;
}

.input-container > button,
.input-container .input {
  white-space: nowrap;
  display: block;
}

.input-container > button,
.input-container .input:first-child {
  border-radius: 6px 0 0 6px;
}

.input-container > button,
.input-container .input {
  border-radius: 0 6px 6px 0;
}

.input-container .input {
  margin-left: -1px;
}

.input-container .input {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.input-container button {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #245e2c;
  background: #b8ccae;
  border: 1px solid #cdd9ed;
  font-weight: bold;
  /* transition: background 0.3s ease, border 0.3s ease, color 0.3s ease; */
}

.input-container button:active {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #b8ccae;
  background: #245e2c;
  border: 1px solid #cdd9ed;
  font-weight: bold;
  /* transition: background 0.3s ease, border 0.3s ease, color 0.3s ease; */
}

/* .input-container:focus-within > span {
  color: #fff;
  background-color: #148cd1;
  border-color: #148cd1;
} */

.input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #99a3ba;
  border: 1px solid #cdd9ed;
  background: #fff;
  transition: border 0.3s ease;
}

.input::placeholder {
  color: #cbd1dc;
}

.input:focus {
  outline: none;
  border-color: #148cd1;
}

@media screen and (max-width: 1200px) and (min-width: 200px) {
  .logoOfFooter {
    background-image: url("/ГоловнаСторінка/46.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    /* margin-left: 50%;
  transform: translateX(-50%);
  left: 0; */
  }

  .logoImageFooter {
    margin-top: 90px;
    width: 260px;
    height: auto;
    z-index: 2;
    position: relative;
  }
}
