@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

a {
  color: white;
  text-decoration: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  place-items: center;
  text-align: center;
}

body {
  margin: 0;
}

.BackgroundNumber {
  margin: 5px;
  background-color: white;
  color: #245e2c;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 5px;
  font-style: normal;
}

.columnTextImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.ColumnOfPerevagy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.ColumnOfCatalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.catalog-item {
  height: 270px;
  width: 350px;
}

.DisplayCenter {
  display: flex;
  justify-content: center;
}

.DrawerContainer {
  display: flex;
  justify-content: left;
}

.DrawerLogo {
  background: none;
  border: none;
  margin-bottom: 15px;
}

h2.headerOfTitlePerevagy {
  margin: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 35px;
}

.headerOfCatolog {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 13px;
}

.headerOfCarulesTitle {
  font-size: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 6px;
}

h3.advantages-title {
  margin: 0;
  width: 60%;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.headerContainer {
  background-color: #569464;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.mainSubjectOfCompani {
  width: 40%;
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.MenuULSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5px;
  padding: 0;
}

.imageOfMainSubject {
  width: 100vh;
  height: auto;
}

.logoImage {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

.LinkToRoses {
  color: black;
  font-size: 25px;
  font-weight: 500;
}

.LiMenuSelect {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 5px;
}

.SectionColumnsGaps {
  display: flex;
  flex-direction: column;
  columns: 1;
  gap: 35px;
}

.Section1 {
  background-color: #245e2c;
  place-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.Section2 {
  background-color: #569464;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.Section3 {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.Section8Background {
  background-color: #245e2c;
  margin: 0px 0px 20px 0px;
  padding: 25px;
}

.titleOfSiteOpis {
  text-align: center;
  margin: 0 auto;
  width: 45%;
}

.titleOfCatalog {
  background-color: #245e2c;
  display: flex;
  justify-content: center;
}

.titleOfCatalogWithoutBackground,
.headerOfTitle {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 600px) and (min-width: 200px) {
  .ColumnOfCatalog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0px;
  }

  .ColumnOfPerevagy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .columnTextImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .imageOfMainSubject {
    width: 100%;
    height: auto;
  }

  .menu-text {
    display: none;
  }

  .mainSubjectOfCompani {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }

  h3.advantages-title {
    margin: 0;
    width: 100%;
    font-size: 20px;
  }

  .titleOfSiteOpis {
    text-align: center;
    margin: 0;
    width: 100%;
  }
}
