@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

a {
  color: white;
  text-decoration: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  place-items: center;
  text-align: center;
}

img.advantages-image {
  height: 70px;
}
body {
  margin: 0;
}

.BackgroundNumber {
  margin: 5px;
  background-color: white;
  color: #245e2c;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 5px;
  font-style: normal;
}

.columnTextImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.ColumnOfPerevagy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.ColumnOfCatalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.catalog-item {
  height: 270px;
  width: 350px;
}

.DisplayCenter {
  display: flex;
  justify-content: center;
}

.DrawerContainer {
  display: flex;
  justify-content: left;
}

.DrawerLogo {
  background: none;
  border: none;
  margin-bottom: 15px;
}

h2.headerOfTitlePerevagy {
  margin: 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.headerOfCatolog {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 13px;
}

.headerOfCarulesTitle {
  font-size: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 6px;
}

h3.advantages-title {
  margin: 0;
  width: 60%;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.headerContainer {
  background-color: #569464;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 8px;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

:-webkit-any(article, aside, nav, section) h1 {
  /* font-size: 1.5em !important; */
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.MenuULSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5px;
  padding: 0;
}

.MarginSectionOfCarusel {
  padding: 10px;
}

.imageOfMainSubject {
  width: 100vh;
  height: auto;
}

.logoImage {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

.LinkToRoses {
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.LiMenuSelect {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 5px;
}

.Section1 {
  background-color: #245e2c;
  place-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.Section2 {
  background-color: #569464;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.Section3 {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.Section8Background {
  background-color: #245e2c;
  margin: 0px 0px 20px 0px;
  padding: 25px;
}

.Section9 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.SectionColumnsGaps {
  display: flex;
  flex-direction: column;
  columns: 1;
  gap: 30px;
}

.slick-dots {
  display: none !important;
}

.text-block {
  max-width: 600px;
  margin: 0 auto;
  /* background-color: #f7f7f7; */
  padding: 30px 20px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  text-align: justify;
  color: #333;
}

.text-block h1 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.text-block h2 {
  font-size: 18px;
  text-align: center;
  color: #28a745;
  /* margin-bottom: 20px; */
}
/* 
.Section6 {
  background-color: gray;
} */

.titleOfCatalog {
  background-color: #245e2c;
  display: flex;
  justify-content: center;
}

.titleOfCatalogWithoutBackground,
.headerOfTitle {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
}

.ulMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

ul {
  margin-block-start: 0;
}

@media screen and (max-width: 1200px) and (min-width: 200px) {
  .advantages-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    place-items: center;
    text-align: center;
  }

  .BackgroundNumber {
    margin: 5px;
    background-color: white;
    color: #245e2c;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 5px;
    font-style: normal;
  }

  .ColumnOfCatalog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    padding: 20px 0px;
  }

  .ColumnOfPerevagy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .columnTextImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .catalog-item {
    height: 250px;
    width: 350px;
  }

  img.advantages-image {
    height: 40%;
  }

  img.advantages-item {
    height: 20px;
    width: 20px;
  }

  .imageOfMainSubject {
    width: 100%;
    height: auto;
  }

  .headerOfCatolog {
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 13px;
  }

  .headerOfCarulesTitle {
    font-size: 25px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 6px;
  }

  h3.advantages-title {
    margin: 0;
    width: 100%;
    font-size: 15px;
  }

  .menu-text {
    display: none;
  }

  .mainSubjectOfCompani {
    width: 500px;
    padding: 0px 15px;
    margin: 0 auto;
    font-size: 15px;
    display: block;
    font-family: "Montserrat", sans-serif;
  }

  .Section2 {
    display: flex;
    justify-content: center;

    align-items: center;
    place-items: center;
    padding: 10px;
  }

  .Section9 {
    display: flex;
    flex-direction: column;
    columns: 1;
    gap: 20px;
  }

  .SectionColumnsGaps {
    /* display: flex;
    flex-direction: column;
    columns: 1; */
    gap: 35px;
  }

  .MenuULSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
  }

  .titleOfSiteOpis {
    text-align: center;
    margin: 0;
    width: 100%;
  }

  .titleOfSiteOpis {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
  }
}
