.BaseCharacteristics {
  display: flex;
  justify-content: left;
  gap: 5px;
  font-size: 20px;
  place-items: center;
}

.readMore {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.care-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}

.care-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
  color: #333;
}

.care-item img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.li-green- {
  list-style: none;
  padding-left: 1.2em;
  margin: 5px;
  font-size: 20px;
  width: 40%;
}

.li-green- li {
  position: relative;
  color: black;
  margin-bottom: 0.5em;
  padding-left: 1.2em;
}

.li-green- li:before {
  color: #4d7c5b;
  content: "-";
}

.readMoreBtn {
  padding: 8px 18px;
  background: none;
  font-weight: 600;
  color: #4d7c5b;
  border: none;
  border-top: 2px solid #4d7c5b;
  /* border-radius: 6px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  place-items: center;
  align-items: center;
  font-size: 17px;
}

.readMoreContent {
  position: relative;
  background: #fff;
  border: 1px solid #b8ccae;
  border-radius: 8px;
  padding: 30px 20px 20px 20px;
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.closeReadMore {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.titleOfOpis {
  color: #1f912e;
  text-align: center;
  font-size: 35px;
}

.SectionOpisOfRoseSun {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
}

/* .SectionColumnsGaps {
  display: flex;
  flex-direction: column;
  columns: 1;
  gap: 35px;
} */

.ListOfOpisRoseSun {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.OpisSectionContainer {
  margin-bottom: 40px; /* або інше значення */
}

.descriptionOfOpis {
  font-size: 18px;
  text-align: left;
  padding: 10px 35px;
}

.TabsSection {
  background: none !important;
  background-color: white !important;
  box-shadow: none !important;
  padding: 0px 10px;
}

/* Якщо треба прибрати фон саме у вкладок Ant Design */
.TabsSection .ant-tabs,
.TabsSection .ant-tabs-content,
.TabsSection .ant-tabs-tabpane {
  background: none !important;
  background-color: transparent !important;
}

@media screen and (max-width: 950px) and (min-width: 200px) {
  .SectionOpisOfRoseSun {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
  }

  :where(.css-dev-only-do-not-override-os2fvf).ant-tabs
    .ant-tabs-tab
    + .ant-tabs-tab {
    margin: 0 0 0 10px;
  }

  .ListOfOpisRoseSun {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .li-green- {
    list-style: none;
    padding-left: 1.2em;
    margin: 5px;
    font-size: 20px;
    width: 80%;
  }

  .li-green- li {
    position: relative;
    color: black;
    margin-bottom: 0.5em;
    padding-left: 0em;
  }

  .care-item img {
    width: 28px;
    height: 28px;
  }

  .care-item p {
    font-size: 15px;
  }

  .OpisSectionContainer {
    margin-bottom: 40px; /* або інше значення */
  }

  .descriptionOfOpis {
    font-size: 15px;
    text-align: left;
    padding: 10px 15px;
  }

  .titleOfOpis {
    color: #1f912e;
    text-align: center;
    font-size: 35px;
  }

  .TabsSection {
    background: none !important;
    background-color: white !important;
    box-shadow: none !important;
    padding: 0px 10px;
  }

  /* Якщо треба прибрати фон саме у вкладок Ant Design */
  .TabsSection .ant-tabs,
  .TabsSection .ant-tabs-content,
  .TabsSection .ant-tabs-tabpane {
    background: none !important;
    background-color: transparent !important;
  }
}
